{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <title>Renter Login</title>
    </head>
    <body class="bg-secondary">
        <div class="container" >
            <div class="myCard " style="margin-top:60px;">
                <div class="row ">
                    <div class=" col-md-6">
                        <div class="myLeftCtn pb-5 bg-dark shadow mb-3 text-white text-center" style="border-radius: 25px;">
                            <div class="py-5">
                                <img class="logo " src="{% static 'image/hlogo.png' %}" alt="Logo_studentbudget" style="height: 50px;">
                            </div>
                            <form class="myForm text-center mb-3" action="/renter_login/" method="post">
                                {% csrf_token %}  
                            <header class="font-weight-bold mb-5" style="font-size: 24px;">Renter Login</header>

                            <p>Click <a href="moderator_login.html" class="text-primary text-decoration-none">here</a> to login as Moderator.</p>
                            <div class="bg-warning my-3 text-danger  ">
                               
                                {% if messages %}
                                    {% for message in messages %}
                                     <div  style="height: 40px; padding:5px 5px 5px 20px;">
                                        {{message}}
                                    </div>
                                        
                                    {% endfor%}
                                {% endif %}
                            
                            </div><br>
                            <div class="form-group">
                                <i class="fas fa-user"></i>
                                <input class="myInput" type="text" placeholder="Username" id="username" name="username" required>
                            </div>
                            
                            <div class="form-group">
                                <i class="fas fa-lock"></i>
                                <input class="myInpute" type="password" placeholder="Password" id="password" name="password" required>
                            </div>
                            
                            <button type="submit" class="btn btn-primary" >Login</button>
                        </form>
                        <a href="#" class="text-primary " style="text-decoration: none;">Forgot Password?</a>
                        <p class="">Don't have an account?</p>
                        <a href="/renter_signup/" class="text-primary " style="text-decoration: none;">Sign Up</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="myRightCtn p-5 bg-dark shadow text-light text-center"style="border-radius: 25px;">
                        <div class="box">
                            <p>OR</p>
                        <header class="m-3">Login with Social Media</header>
                        <a href="http://www.facebook.com" class="btn btn-block " role="button" style="background-color: #3B5998;
                            color: white;">
                            <i class="fab fa-facebook"></i> Login with Facebook
                        </a>
                        <a href="http://www.twitter.com" class="btn btn-block" role="button"style="background-color: #55ACEE;
                            color: white;">
                            <i class="fab fa-twitter"></i> Login with Twitter
                        </a>
                        <a href="http://www.google.com" class="btn btn-block" role="button"style="background-color: #dd4b39;
                            color: white;"><i class="fab fa-google"></i>
                            Login with Google+
                        </a>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
        
        
        
    </div>
    
</div>
<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<!-- Option 2: jQuery, Popper.js, and Bootstrap JS
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

-->
<script>
    function moderator_login(){
        window.open("../MIS202_WEB design_draft/moderator_dashboard.html");
    }
</script>
</body>
</html>