{% extends 'base.html' %}

{% block title %} Search | Student Budget {% endblock %}

{% block content %}
 <!--****** header part div ends-->
    <!--three extra header div starts-->
    <section class="header-extradiv">
        <div class="container my-lg-3 my-md-3 my-sm-3 ">
          <h3 class="text-center mt-5 mx-auto">Recent Available House or Apartment Rooms</h3>
          <hr class=" mx-5 px-5 mb-5 bg-secondary">
          <div class="row ">
              {% for housesearch in housesearch %}
                <div class="rent_house col-lg-4 col-md-4 col-sm-11 mb-lg-3 mb-md-3 mb-sm-5 ">
                  <div class="card  shadow " >
                    <img src="{{housesearch.img.url}}" class="card-img-top image-fluid" alt="...">
                    <div class="card-body">
                      <div>
                        <h5 class="card-title">${{housesearch.price}} <a href="/details/" class="text-primary" value="{{housesearch.id}} " style="float:right;">Details</a></h5>
                      </div>
                      
                      <p class="card-text">{{housesearch.address}}</p>
                      {% if user.is_authenticated %}
                    <a href="/renter_payment/" class="btn btn-primary text-center ">Apply</a>
                    <a  class="like">
                      <i class="fas fa-heart "  style="float:right; "  aria-hidden="true"></i>
                    </a>
                    {% else %}
                    <a href="/renter_login/" class="btn btn-primary text-center ">Apply</a>
                    <a  class="like">
                      <i class="fas fa-heart "  style="float:right; "  aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
  
              
          </div>
          <div class="pagination my-3 " >
            <nav aria-label="Page navigation example " >
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
            
          </div>
          
        </div>
        
      </section>

{% endblock %}